<manifest xmlns:android="http://schemas.android.com/apk/res/android"

    package="com.example.davidc.benchmarktemplate">

    <application
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".BenchmarkActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>
